[submodule "pkgbuild/release"]
	path = pkgbuild/release
	url = https://aur.archlinux.org/gallery-tui.git
[submodule "pkgbuild/git"]
	path = pkgbuild/git
	url = https://aur.archlinux.org/gallery-tui-git.git
[submodule "pkgbuild/bin"]
	path = pkgbuild/bin
	url = https://aur.archlinux.org/gallery-tui-bin.git
[submodule "homebrew-tap"]
	path = homebrew-tap
	url = https://github.com/WindustH/homebrew-tap.git
