[submodule "pkgbuild/release"]
	path = pkgbuild/release
	url = https://aur.archlinux.org/gallery-tui.git
[submodule "pkgbuild/git"]
	path = pkgbuild/git
	url = https://aur.archlinux.org/gallery-tui-git.git
[submodule "pkgbuild/bin"]
	path = pkgbuild/bin
	url = https://aur.archlinux.org/gallery-tui-bin.git
[submodule "homebrew-tap"]
	path = homebrew-tap
	url = https://github.com/WindustH/homebrew-tap.git
[submodule "crates/img-tui"]
	path = crates/img-tui
	url = https://github.com/WindustH/img-tui.git
[submodule "crates/framework-tui"]
	path = crates/framework-tui
	url = https://github.com/WindustH/framework-tui.git
